/* header */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    animation: fadeInDown;
    animation-duration: 0.8s;
    
  }

  #navbar {
      padding: 5px;
  }

  .navbar-brand {
      margin-top: 20px;;

  }

  /* newsletter */


}